[Unit]
Description=Service For WebApp Test
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/var/www/[PROJECTNAME]
ExecStart=/usr/bin/npm run dev
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
